 @import url('https://fonts.googleapis.com/css?family=Oswald:500');
 @import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.App {
  text-align: center;
}

body{
  background-color: #F5F5F5;
}

.main-nav .navbar-nav{
  margin-left: 45%;
}

.main-nav  {
  background-color: #2b2b2b;
  color: white;
}

.main-nav .navbar-brand{
  font-family: 'Oswald', sans-serif;
	margin-left: 31px;
}

.main-nav a{
    color: white;
}

.main-nav a:hover{
    color: #ff9b4f;
}

.main-nav .nav-item{
  border-right: 1px solid #FFFFFF;
}

.main-nav .nav-item:last-child{
  border-right: none;
}

.main-nav #navbarSupportedContent .nav-item a{
  padding-top: 0;
  padding-bottom: 0;
  padding: 0 18px;
}

.social-media{
  margin: 0 25px 0 0;
}

.social-media li  {
  list-style-type: none;
  display: inline-block;
  margin: 0 20px 0 0;
}

.social-media a{
  width: 44px;
  display: block;
  padding: 9px 0px;
  text-align: center;
  border-radius: 100px
}

.social-media a i {
    font-size: 26px;
}

.social-media a.twitter{
  background-color: #27a2ee
}

.social-media a.facebook{
  background-color: #4469ae
}

.wrapped{
  margin-top: 250px;
  padding: 150px 45px 60px 45px;
  box-shadow: 0px 4px 7px 1px rgb(0,0,0, 0.1);
  background-color: white
}

.wrapped img{
  height: 300px;
  width: 300px;
  border-radius: 200px;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -150px
}

.portafolio-card{
  margin: 50px 0 0 0;
  padding: 20px 10px 20px 10px;
  box-shadow: 0px 4px 7px 1px rgb(0,0,0, 0.1);
  background-color: white;
  text-align: center;
}

.portafolio-description{
    margin: 30px 0 0 0;
    text-align: justify;
}

.portafolio-description h2{
  font-family: 'Oswald', sans-serif;
}

.footer {
  margin: 300px 0 50px 0;
  padding: 0 0 100px 0;
  color: red;
  text-align: center;
}

.time-line {
  height: 450px;
  width: 100%;
  position: relative;
  margin-top: 80px;
  box-shadow: 0px 4px 7px 1px rgb(0,0,0, 0.1);
  background-color: white;
  font-style: italic;
}

.time-line-year{
  width: 29%;
  right: 0;
  top: 0;
  height: 100%;
  border-left: 1px solid #2b2b2b;
  display: inline-block;  
  padding: 55px 0 55px 35px;
  flex-direction: column;
  position: absolute;
  transform: translate3d(0, 0, 0);
  transition: .4s ease 1.6s;
}

.time-line-content{
  width: 69%;
  right: 30%;
  top: 0;
  height: 100%;
  text-align: right;
  display: inline-block;
  position: absolute;
  padding: 100px 80px 10px 0
}

.time-line-content h2{
  color: #d4a024;
}

.timeline-title {
  font-weight: 800;
  font-size: 34px;
}

.timeline-text {
  line-height: 1.5;
  font-size: 14px;
  padding: 0 0 0 115px
}

.swiper-button-next,
.swiper-button-prev {
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  margin: 20px 0 20px 0;
  z-index: 2;
  transition: .2s;
  transform: rotate(90deg);
}

.swiper-pagination-bullet{
  margin: 10px 0 0 0;
  color: #d4a024;
}

.swiper-pagination-bullet::after{
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: #d4a024;
  position: relative;
  display: block;
  content: "";
  left: -39px;
  top: -14px;
}

.swiper-button-prev {
  left: 8%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23d4a024'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev:hover{ 
  transform: rotate(90deg) translateX(-3px); 
}

.swiper-button-next {
    right: 8%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23d4a024'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next:hover { 
  transform: rotate(90deg) translateX(3px); 
}

/** Animations **/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.slow {
  -webkit-animation-duration: 2.0s;
  animation-duration: 2.0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from { 
    opacity: 0; 
  }
  to   { 
    opacity: 1; 
  }
}

.fadeIn {
  animation-name: fadeIn;
}
